* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

.main-div {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.convater-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 450px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: #111;
    align-items: center;
}
.title-div{
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
}
.input-div{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
input[type="number"]{
    color: #ffffff;
    overflow: hidden;
    font-size: 18px;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: #111;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.2);
    margin:20px 0;
}
.type-div{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.type{
    color: #ffffff;
    overflow: hidden;
    font-size: 15px;
    height: 35px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: #4d4d4d;
}
.type select{
    background-color: #4d4d4d;
    border: none;
    text-align: center;
    font-size: 22px;
    width: 100%;
    
}
.footer{
    margin-top: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    color: #eee;
}
.right a{
    padding: 7px;
    background-color: #000;
    border-radius: 10px;
    text-align: center;
}
.right a:hover{
    background-color: #fff;
}
.right a:hover i{
    color: black;
}
@media screen and (max-width: 600px){
    .convater-div {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }
    .input-div{
        flex-direction: column;
    }
    .type-div{
        flex-direction: column;
    }
    .type{
        margin: 10px 0;
    }
}